<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @empregado.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @empregado.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empregado.email %>
</p>

<p>
  <strong>Compromisso:</strong>
   
</p>

<p>
  <strong>Empresa:</strong>
  <%= @empregado.empresa.razao_social %>
</p>

<%= link_to 'Edit', edit_empregado_path(@empregado) %> |
<%= link_to 'Back', empregados_path %>
